.search-form{
    text-align:center;
    border:1px solid gray;
    margin-left:100px;
    margin-right:100px;
  }
  .search-form > label{
    display:block;
    font-weight:bold;
    font-size:2rem;
  }
  .search-form > input{
      margin-top:20px;
      height:25px;
      width:20%;
      margin-bottom: 40px;
  }
  